@import "style.css";
@import "flex.css";
form {
    max-width: 1000px;
    margin: 0 auto;
}
fieldset {
    border: 2px solid gold;
}

input[type="submit"] {
    border: 0;
    padding: 5px 15px;
    border-radius: 5px;
    background: gold;
}