body {
    display: grid;
    grid-template-areas:
            "header_area header_area header_area"
            "vertical_nav main_area news_block"
            "footer_area footer_area footer_area";

    /*определяем колонки сетки*/
    grid-template-columns: 1fr minmax(500px, 1000px) 1fr;

    /*определяем ряды сетки*/
    grid-template-rows: auto auto auto;
}
header {
    grid-area: header_area;
}

main {
    grid-area: main_area;
}

footer {
    grid-area: footer_area;
}
.vertical_nav {
    grid-area: vertical_nav;
}
.news {
    grid-area: news_block;
}

.flex-row{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.space-between{
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.flex-12 {
    flex: 100%;
}

.flex-6 {
    flex: 50%;
}

.flex-3 {
    flex: 25%;
}

.flex-4{
    flex: 33.3333333%;
}

nav ul {
    list-style-type: none;
}

nav a {
    text-decoration: none;
}

.text-center {
    text-align: center;
}


.gird-elements {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.gird-elements :nth-child(1){
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

.gird-elements :nth-child(3){
    grid-row: 1 / 4;
    grid-column: 4 / 5;
}

.gird-elements :nth-child(5){
    grid-row: 2 / 3;
    grid-column: 2 / 4;

    transform: rotate(7deg);
}

img {  /*для адаптива подходит*/
    width: 100%;
    height: auto;
}
 p {
     word-break: break-all; /*перенос и разбивка неумещяющихся слов*/
 }

/*контрольные точки для адаптива в самом концу css файла*/

@media screen and (max-width: 480px)  { /*xs*/
     aside {
         display: none;
     }
    /*header ul{
        flex-direction: column;} или ткак или  новый класс ка ниже*/

    .flex-xs-column
    {
        flex-direction: column;
    }


    .gird-elements {
        grid-template-columns: repeat(2, 1fr);
    }

    .gird-elements :nth-child(1),
    .gird-elements :nth-child(3)
    {
        grid-row: auto / auto;
        grid-column: auto / auto;
    }
    .gird-elements :nth-child(5),
    .gird-elements :nth-child(6),
    .gird-elements :nth-child(7),
    .gird-elements :nth-child(8)
    {
        display: none;
    }
    .flex-xs-12 {
        flex: 100%;
    }

}

@media screen and (min-width: 480px) and (max-width: 770px) {
    /*sm*/
    aside {
        display: none;
    }

    .flex-sm-column {
        flex-direction: column;
    }

    .gird-elements {
        grid-template-columns: repeat(2, 1fr);
    }

    .gird-elements :nth-child(1),
    .gird-elements :nth-child(3)
     {
        grid-row: auto / auto;
        grid-column: auto / auto;
    }
    .gird-elements :nth-child(5),
    .gird-elements :nth-child(6),
    .gird-elements :nth-child(7),
    .gird-elements :nth-child(8)
    {
        display: none;
    }
    .flex-sm-6 {
        flex: 50%;
    }

    .flex-elements div:last-child {
        display: none;
    }



}